
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #333;    
    margin-left: 75px;
    margin-right: 75px;
  }
  
  content .map path {
    stroke: #6e6e6e42;
  }
  
  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  

  nav{
    display: flex;
    padding: 0 20px;
  }

  nav select{
    margin: 0 20px;
  }

  .canabisForm, .otherForm, .otherRegion, .canabisRegion {
    width: 50%;
  }

  .formation, .region{
    display: flex;
  }

  footer, header{
    text-align: center;
  }